
.logo{
	height : 65px;
	width: 350px;
	padding: 10px 0px 6px 40px;
}

nav ul {
	background: black;
	display: inline;
	padding: 20px 10px 10px 10px;
	float: left;
}

nav ul li {
	display: inline-block;
	color: white;
	float: left;
	color: white;
	margin-left: 10px;
}	

nav ul li a {
	color: white;
	text-decoration: none;
}

body {
	background: #FFF53B;
}